
<h1>Live nationals updates</h1>

<div class="container">
<div class="row"> 
<div class="col-md-6"><iframe height =300px width =450px scrolling="no"  style="border:none" src="http://45.55.77.41:32774"> </iframe> </div>
<div class="col-md-6"> <h1> Sponsered by </h1>
          <%= image_tag("ps.png", width:400, height:190) %> 
          <p> PaddleSoft is a paddlig social networking site and river database built specifically for canoers, kayakers, rafters and other paddling enthusiats. </p> 
          <p> <b> Find </b> PaddleSoft helps you find paddling partners, videos, photos, and new rivers to paddle on. Quickly find which rivers are currently flowing now and get accurate predictions on future flows based on our advanced predicted flow algorithm. </p> 
          <p> <b> Plan </b> PaddleSoft makes it simple to arrange any event whether it's an impromptu after work outing or a multi-day race. Using your newly acquired information quickly create a new outing on a river on a specific date and invite all of your friends! Your friends will receive a realtime push notification either on their phones (if they choose to in install our app) or the next time they log into PaddleSoft. They can in one click respond whether they can make it or not. PaddleSoft also makes it simple to plan larger events such as races and festivals.   </p> 
          <p> <b> Paddle: </b> We will leave this to you. </p> 
          <p> <b> Share: </b> With PaddleSoft you can easily share videos, photos, and posts about of all your paddles adventures. Upload easily with our PaddleMobile apps for iOS and Android. Have old gear to sell? PaddleSoft makes it easy to sell your boating gear with our online classifieds section and seamless payment system. </p> </div>
</div>  
</div>
</div>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.description %></td>
        <td><%= link_to 'Show', post %></td>
        
        
      </tr>
    <% end %>
  </tbody>
</table>


	
    
<%= link_to 'New Post', new_post_path %>
