
<h1>Live nationals updates</h1>

<div class="container">
<div class="row"> 
<div class="col-md-6"> <iframe height =300px width =450px scrolling="no"   src="http://45.55.77.41:32774"> </iframe>
  <% @posts.each do |post| %>
      <tr>
      	<p>
        <td><%= post.title %></td>
        <td><%= post.description %></td>
        <td><%= link_to 'Show', post %></td>
        </p>

      </tr>
      <% end %>
  </div>
<div class="col-md-6"> <h1> Sponsored by </h1>
          <img src="http://paddlesoft.herokuapp.com/assets/final_forever-6ba81dd9a174e7d05037710528f670eb.png" alt="PaddleSoft logo" width:369 height:160> </img> 
          <p> PaddleSoft is a paddling social networking site and river database built specifically for canoers, kayakers, rafters and other paddling enthusiasts. </p> 
          <p> <b> Find </b> PaddleSoft helps you find paddling partners, videos, photos, and new rivers to paddle. Quickly find which rivers are currently flowing and get accurate predictions on future flows based on our advanced predicted flow algorithm. </p> 
          <p> <b> Plan </b> PaddleSoft makes it simple to arrange any event whether it's an impromptu after work outing or a multi-day race. Using your newly acquired information quickly create a new outing on a river, pick a date, and invite all of your friends! Your friends will receive a realtime push notification either on their phones (if they choose to install our app) or the next time they log onto PaddleSoft. In one click your friends can respond whether or not they can attend and you will be notified in realtime. PaddleSoft also makes it simple to plan larger events such as races and festivals. </p> 
          <p> <b> Paddle </b> We will leave this to you. </p> 
          <p> <b> Share </b> With PaddleSoft you can easily share videos, photos, and posts about of all your paddling adventures. Upload easily with our PaddleMobile apps for iOS and Android. Have old gear to sell? PaddleSoft makes it easy to sell your boating gear with our online classifieds section and seamless payment system. </p> </div>
</div>   
</div>
</div> 
<div class="fb-page" data-href="https://www.facebook.com/paddlesoft"
  data-width="380" data-hide-cover="false" data-show-facepile="false" 
  data-show-posts="false"></div>
<% if mobile_device? %>
<table>
  <thead>
    <tr>
    
      <th>Title</th>
      <th>Description of update</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.description %></td>
        <td><%= link_to 'Show', post %></td>
        
        
      </tr>
    <% end %>
  </tbody>
</table>
<% end %> 


	 
    